/* Para colocar una imagen de fondo */
body {
	background-image: url("perrito.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}
/* Para utilizar fuente de GoogleFonts */
h3 {
	font-family: 'Itim', cursive;
	font-size: 50px;
}

/* Para utilizar fuente descargada en archivo .otf */
h4 {
	font-size: 50px;
	font-family: mel;
}

@font-face {
	font-family: "mel";
	src: url(melody.otf) format("opentype");
}

a {
	padding-top: 2cm;
}


