
body {
	background-image: url("perrito.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}

h3 {
	/* Para opción 1 y 2
	font-family: 'Itim', cursive;
	*/

	/* Para utilizar fuente descargada en archivo .otf
	font-family: mel;
	*/
	/*font-family: "Times New Roman", Georgia, Serif;*/

}
/*
@font-face {
	font-family: "mel";
	src: url(melody.otf) format("opentype");
}
*/

